@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/*Banner section*/
*{margin: 0%;
padding: 0%;}
.bg-color{ color: #FFFFFF;}

.banner{background-image: url('../images/portfolio\ bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 650px;
    background-position:center ;
margin: 0%; padding: 0%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
.banner-girl{width: 175px;
height: 230px;
border-radius: 10px;
}


.header-title{ margin: 298 220 218 220 ;
    text-align: center;
     width: 950px; height: 130px;
    font-size: 48px;
font-weight: 800; 
color: #0D1321; line-height:60px;
}
.header-subtitle{font-size: 16;
font-weight: 400;
width: 750px;
line-height: 25px;
color: #0D1321;
text-align: center;
}
.color-btn{ font-size: 20px;
    font-weight: 600;
     background-color: #0D1321;
color: #FFFFFF;
padding: 21px 24px;
border-radius: 8px;
margin-top: 32px; margin-bottom: 44px;}

.text-centre {text-align: center;}

/*why web development*/
.main{max-width: 1140px;
margin: 0% auto;}
.card-header{
margin-top: 70px; background-color: #0D132105 ;
border-radius: 16px;
padding: 80px 97px;
box-sizing: border-box;
text-align: center;
}
.card-title{ font-size: 32px;
font-weight: 800;
color:#0D1321; margin-top: 44px;
}

.card-subtitle{font-size: 16; margin:24px 0px 0px 48px;
    font-weight: 400;
    width: 750px;
    line-height: 25px;
    color: #0D1321;
    text-align:center;opacity: 0.7;}
.btn-link{color: #0D1321; text-decoration: none;}
.card2-picture{width: 223px;height: 208px;}

.card1{ display: flex;
    gap: 99px;
    padding: 48px;


    justify-content:center;
    align-items: center;}
.column1{width: 700px;
    height: 183px;
}
.card-description{font-size: 24px; text-align: left;
font-weight: 700;
color: #0D1321B3;
height: 50px;
width: 370px;}
.card-mini{font-size: 16;
    font-weight: 400;
    width: 750px;
    line-height: 25px;
    color: #0D1321;
    text-align:left;opacity: 0.7;
    margin-top: 16px;
}

.card-btn{display: flex; flex-direction: row;
    margin-top: 32px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #0D1321;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;}

.inspiration{width: 1140px;
height: 664px;
margin-top: 88px;
}

.ins-title{
    font-size: 32px;
    font-weight: 800;
    margin: 20px;
    text-align: center;
}
.ins-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity:0.7;
    margin: 0px 270px;


}
.video{ box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px; padding: 32px 32px;
    align-items: center;
    

}
iframe{border-radius: 16px;
}
.target-section{align-items: center; margin:150px 150px 0px 150px ;
}
.targets{display: flex;
gap: 24px;}
.target{padding: 40px 40px;
border-radius: 16px; ;
}
.bg-color1{background-color: #FF4C1E0D}
.bg-color2{background-color: #004CE80D;}
.bg-color3{background-color: #FFDF000D;}
.support-color{color: #FFFFFF;}
.target-title{font-size: 24px; font-weight: 800; margin-bottom: 24px;
}
.target-description{ margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: left; opacity: 0.7;}
    .target-link{ color: #0D1321;
    font-size: 16px;
font-weight: 700;}
.support-section{margin-top: 41px; align-items: center;
    background-image: url('../images/handshake.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1140px;
    height: 314px;
    border-radius: 16px;
    padding: 64px 48px;
}
input[type="text"]{width: 450px;height: 45px;margin:24px 0px 0px 290px;}
input[type="submit"]{width: 120px;height: 45px;}
 
.input{width: 100%;
display: block;}
.footer-section{ margin-top: 80px;
    
    padding:32px 300px;
    border: 1px solid none;
    border-radius: 16px;
    display: flex;
    width: 1400px;
    height: 100px;
    align-items:center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;

}