@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/*Banner section*/
*{margin: 0%;
padding: 0%;}
.bg-color{ color: #FFFFFF;}
.hero{height: 652px;}
.banner{background-image: url('../images/portfolio\ bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    background-position:center ;
margin: 0%; padding: 0%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
.banner-girl{width: 175px;
height: 230px;
border-radius: 10px;
}


.header-title{ margin: 298 220 218 220 ;
    text-align: center;
     width: 950px; height: 130px;
    font-size: 48px;
font-weight: 800; 
color: #0D1321; line-height:60px;
}
.header-subtitle{font-size: 16;
font-weight: 400;
width: 750px;
line-height: 25px;
color: #0D1321;
text-align: center;
}
.color-btn{ font-size: 20px;
    font-weight: 600;
     background-color: #0D1321;
color: #FFFFFF;
padding: 21px 24px;
border-radius: 8px;
margin-top: 32px; margin-bottom: 44px;}
.text-centre {text-align: center;}
/*why web development*/
.main{max-width: 1140px;
margin: 0% auto;}
.card-header{display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
align-items: center;
gap: 24px;
margin-top: 70px; background-color: #0D132105 ;
border-radius: 16px;
padding: 80px 97px;
box-sizing: border-box;
}
.card-title{ font-size: 32px;
font-weight: 800;
color: ##0D1321; margin-top: 44px;
}

.card-subtitle{font-size: 16;
    font-weight: 400;
    width: 750px;
    line-height: 25px;
    color: #0D1321;
    text-align:center;opacity: 0.7;

}

}
.card2-picture{width: 223px;
height: 208px;}

.card1{ display: flex;
    box-sizing: border-box;
    background-color: ;

    justify-content:center;
    align-items: centers;
    margin: 48px 48px;}
    .header{width: 700px;
    height: 183px;
}
.card-description{font-size: 24px;
font-weight: 700; text-align: left;
color: #0D1321B3;
height: 50px;
width: 370px;}
.card-mini{font-size: 16;
    font-weight: 400;
    width: 750px;
    line-height: 25px;
    color: #0D1321;
    text-align:left;opacity: 0.7;
    margin-top: 16px;
}
.card-btn{;
    margin-top: 32px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #0D1321;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;

}