@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/*Banner section*/
.banner{background-image: url('../images/portfolio\ bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position:center ;
left: 0;
right: 0;
margin: 0%; padding: 0%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
.banner-girl{width: 175px;
height: 230px;}